*{
    margin: 0;
    padding: 0;
}
body{
font-family: 'Arima', cursive;
font-family: 'Kanit', sans-serif;
font-family: 'Trispace', sans-serif;
}
/* header*/

.header{
    background-image: url(./images/donation13.jpg);
    height: 750px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 100px;
}

.header-text{
    color: rgb(254, 255, 252);
    text-align: center;
    padding-top: 12%;
    font-size: 55px;
}

.header p{
    font-size: 25px;
}

.header button{
    color: brown;
    background-color: rgb(247, 247, 120);
    padding: 15px;
    font-size: 15px;
    border-radius: 12px;
}


/*Donation*/

.donate-money{
    text-align: center;
    margin-bottom: 80px;
}

.donate-money h1{
    font-size: 50px;
    margin-bottom: 1%;
}

.donate-money p{
    font-size: 25px;
}

.donation-amount ul{
  display: flex;
  padding: 50px; 
  justify-content: center;
  
  
  
}
.donation-amount ul li{
    text-decoration: none;
    list-style: none;
    padding: 25px;
    font-size: 45px;
    
}

.style-li{
    border: 5px solid rgb(239, 192, 103);
}

.donation-amount input{
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid rgb(101, 97, 97);
}

.donation-amount input::placeholder{
    text-align: center;
    font-size: 20px;    
}
.pay-now{
background-color: rgb(228, 91, 37);
color: rgb(255, 236, 236);
padding: 15px;
margin-top: 3%;
border-radius: 10px;    
}


/*Donation plan*/
.donate-plan{
    margin-bottom: 85px;
}

.donate-plan-headding{
    text-align: center;
}

.donate-plan-headding h1{
    font-size: 55px;
}

.donate-plan-headding p{
    font-size: 25px;
}

.cards{
    justify-content: space-evenly;
    display: flex;
    margin-top: 5%;
     
}

.food{
    background-color: aqua;
    width: 600px;
    height: 300px;
}
.food-icon{
    margin-left: 5%;
    margin-top: 5%;
}
.food-text{
    margin-top: 5%;
    margin-left: 5%;
}


.shelter{
    background-color: blanchedalmond;
}
.shelter-icon{
    margin-top: 5%;
    margin-left: 5%;
}
.shelter-text{
    margin-top: 5%;
    margin-left: 5%;
}
.education{
    background-color: rgb(232, 164, 164);
}

.education-icon{
    margin-top: 5%;
    margin-left: 5%;

}
.education-text{
    margin-top: 5%;
    margin-left: 5%;
}

/*join us*/

.join-us{
    text-align: center;
    background-image: url(./images/donation5.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.join-us h1{
    color: rgb(0, 0, 0);
    font-size: 60px;
}

.join-us h3{
    color: rgb(255, 255, 255);
}

.join-us form{
   
    display: flex;
    flex-direction: column;
   width: 50%;
   margin-left: 25%;
   margin-top: 5%;
   
   
}
.join-us form input{
    height: 30px;
}

.join-us button{
    padding: 15px;
    background-color: antiquewhite;
    color: crimson;
    font-size: 20px;
    border-radius: 10px;
    
}